<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="cabecalho">
        <h1>Tarefas</h1>
    </div>
    <br>
    <br>
    <label class="abrirmodal"   for="modalexemplo">Criar</label>
    <input type="checkbox" id="modalexemplo" class="checkboxmodal">

    <div class="modalcriar">
        <label class="fecharmodal" for="modalexemplo">X</label>
        <div class="conteudomodal">
          <h1>Criar tarefa</h1>
          <form action="/criar" method="POST">
          <label for="titulo">Nome:</label>
              <input type="text" id="titulo" name="titulo">
              
              <label for="descricao">Descrição:</label>
              <input type="text" id="descricao" name="descricao">
      
              <label for="horario">Horario:</label>
              <input type="time" id="horario" name="horario">
              
              <input type="submit" value="Enviar">
          </form>    
        </div>
    </div>
   <!-- Tabela -->
<main>
   <table>
    <tr>
      <th>Status</th>
      <th>Tarefa</th>
      <th>Descrição</th>
      <th>Horario</th>
      <th></th>
      <th></th>
    </tr>
    {% for tarefa in tarefas %}
    <tr>
      <td class="{{ tarefa.statuscor }}">{{ tarefa.status }}</td>
      <td>{{ tarefa.titulo }}</td>
      <td>{{ tarefa.descricao }}</td>
      <td>{{ tarefa.horario }}</td>
        <td>
            <label class="btn-abrirmodal" for="modal-checkbox-{{ tarefa.id }}">Editar</label>
        </td>
    <td>
        <form action="/deletar" method="POST">
            <input type="hidden" name="idTarefas" value="{{ tarefa.id }}">
            <button type="submit" class="button red">Deletar</button>
        </form>
    </td>

    </tr>
    {% endfor %}
    
  </table>
</main>

  {% for tarefa in tarefas %}
  <input type="checkbox" id="modal-checkbox-{{ tarefa.id }}" class="modal-checkbox">
  <div class="modal">
    <div class="modal-content">
      <label for="modal-checkbox-{{ tarefa.id }}" class="close">&times;</label>
        <form action="/editar" method="POST">
            <input type="hidden" name="idTarefas" value="{{ tarefa.id }}">
            <input type="text" name="tarefa_titulo" placeholder="Novo Valor" required>
            <input type="text" name="tarefa_descricao" placeholder="Novo Valor" required>
            <input type="time" name="tarefa_horario" placeholder="Novo Valor" required>
            <button type="submit">Atualizar</button>
        </form>
    </div>
  </div>
  {% endfor %}
</body>
</html>